body {
    font-family: 'Poppins', sans-serif;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375em .75em;
    font-size: 1em;
    border-radius: .25em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529
}

.btn-check:focus+.btn,.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .25em rgba(13,110,253,.25)
}

.btn.disabled,.btn:disabled,fieldset:disabled .btn {
    pointer-events: none;
    opacity: .65
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca
}

.btn-check:focus+.btn-primary,.btn-primary:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 .25em rgba(49,132,253,.5)
}

.btn-check:active+.btn-primary,.btn-check:checked+.btn-primary,.btn-primary.active,.btn-primary:active,.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be
}

.btn-check:active+.btn-primary:focus,.btn-check:checked+.btn-primary:focus,.btn-primary.active:focus,.btn-primary:active:focus,.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25em rgba(49,132,253,.5)
}

.btn-primary.disabled,.btn-primary:disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64
}

.btn-check:focus+.btn-secondary,.btn-secondary:focus {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    box-shadow: 0 0 0 .25em rgba(130,138,145,.5)
}

.btn-check:active+.btn-secondary,.btn-check:checked+.btn-secondary,.btn-secondary.active,.btn-secondary:active,.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #565e64;
    border-color: #51585e
}

.btn-check:active+.btn-secondary:focus,.btn-check:checked+.btn-secondary:focus,.btn-secondary.active:focus,.btn-secondary:active:focus,.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25em rgba(130,138,145,.5)
}

.btn-secondary.disabled,.btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754
}

.btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43
}

.btn-check:focus+.btn-success,.btn-success:focus {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
    box-shadow: 0 0 0 .25em rgba(60,153,110,.5)
}

.btn-check:active+.btn-success,.btn-check:checked+.btn-success,.btn-success.active,.btn-success:active,.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #146c43;
    border-color: #13653f
}

.btn-check:active+.btn-success:focus,.btn-check:checked+.btn-success:focus,.btn-success.active:focus,.btn-success:active:focus,.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25em rgba(60,153,110,.5)
}

.btn-success.disabled,.btn-success:disabled {
    color: #fff;
    background-color: #198754;
    border-color: #198754
}

.btn-info {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0
}

.btn-info:hover {
    color: #000;
    background-color: #31d2f2;
    border-color: #25cff2
}

.btn-check:focus+.btn-info,.btn-info:focus {
    color: #000;
    background-color: #31d2f2;
    border-color: #25cff2;
    box-shadow: 0 0 0 .25em rgba(11,172,204,.5)
}

.btn-check:active+.btn-info,.btn-check:checked+.btn-info,.btn-info.active,.btn-info:active,.show>.btn-info.dropdown-toggle {
    color: #000;
    background-color: #3dd5f3;
    border-color: #25cff2
}

.btn-check:active+.btn-info:focus,.btn-check:checked+.btn-info:focus,.btn-info.active:focus,.btn-info:active:focus,.show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25em rgba(11,172,204,.5)
}

.btn-info.disabled,.btn-info:disabled {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0
}

.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-warning:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720
}

.btn-check:focus+.btn-warning,.btn-warning:focus {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
    box-shadow: 0 0 0 .25em rgba(217,164,6,.5)
}

.btn-check:active+.btn-warning,.btn-check:checked+.btn-warning,.btn-warning.active,.btn-warning:active,.show>.btn-warning.dropdown-toggle {
    color: #000;
    background-color: #ffcd39;
    border-color: #ffc720
}

.btn-check:active+.btn-warning:focus,.btn-check:checked+.btn-warning:focus,.btn-warning.active:focus,.btn-warning:active:focus,.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25em rgba(217,164,6,.5)
}

.btn-warning.disabled,.btn-warning:disabled {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37
}

.btn-check:focus+.btn-danger,.btn-danger:focus {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
    box-shadow: 0 0 0 .25em rgba(225,83,97,.5)
}

.btn-check:active+.btn-danger,.btn-check:checked+.btn-danger,.btn-danger.active,.btn-danger:active,.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834
}

.btn-check:active+.btn-danger:focus,.btn-check:checked+.btn-danger:focus,.btn-danger.active:focus,.btn-danger:active:focus,.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25em rgba(225,83,97,.5)
}

.btn-danger.disabled,.btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-light:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb
}

.btn-check:focus+.btn-light,.btn-light:focus {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
    box-shadow: 0 0 0 .25em rgba(211,212,213,.5)
}

.btn-check:active+.btn-light,.btn-check:checked+.btn-light,.btn-light.active,.btn-light:active,.show>.btn-light.dropdown-toggle {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb
}

.btn-check:active+.btn-light:focus,.btn-check:checked+.btn-light:focus,.btn-light.active:focus,.btn-light:active:focus,.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25em rgba(211,212,213,.5)
}

.btn-light.disabled,.btn-light:disabled {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529
}

.btn-dark:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21
}

.btn-check:focus+.btn-dark,.btn-dark:focus {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
    box-shadow: 0 0 0 .25em rgba(66,70,73,.5)
}

.btn-check:active+.btn-dark,.btn-check:checked+.btn-dark,.btn-dark.active,.btn-dark:active,.show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1a1e21;
    border-color: #191c1f
}

.btn-check:active+.btn-dark:focus,.btn-check:checked+.btn-dark:focus,.btn-dark.active:focus,.btn-dark:active:focus,.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25em rgba(66,70,73,.5)
}

.btn-dark.disabled,.btn-dark:disabled {
    color: #fff;
    background-color: #212529;
    border-color: #212529
}

.btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.btn-check:focus+.btn-outline-primary,.btn-outline-primary:focus {
    box-shadow: 0 0 0 .25em rgba(13,110,253,.5)
}

.btn-check:active+.btn-outline-primary,.btn-check:checked+.btn-outline-primary,.btn-outline-primary.active,.btn-outline-primary.dropdown-toggle.show,.btn-outline-primary:active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}

.btn-check:active+.btn-outline-primary:focus,.btn-check:checked+.btn-outline-primary:focus,.btn-outline-primary.active:focus,.btn-outline-primary.dropdown-toggle.show:focus,.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 .25em rgba(13,110,253,.5)
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled {
    color: #0d6efd;
    background-color: transparent
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-check:focus+.btn-outline-secondary,.btn-outline-secondary:focus {
    box-shadow: 0 0 0 .25em rgba(108,117,125,.5)
}

.btn-check:active+.btn-outline-secondary,.btn-check:checked+.btn-outline-secondary,.btn-outline-secondary.active,.btn-outline-secondary.dropdown-toggle.show,.btn-outline-secondary:active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-check:active+.btn-outline-secondary:focus,.btn-check:checked+.btn-outline-secondary:focus,.btn-outline-secondary.active:focus,.btn-outline-secondary.dropdown-toggle.show:focus,.btn-outline-secondary:active:focus {
    box-shadow: 0 0 0 .25em rgba(108,117,125,.5)
}

.btn-outline-secondary.disabled,.btn-outline-secondary:disabled {
    color: #6c757d;
    background-color: transparent
}

.btn-outline-success {
    color: #198754;
    border-color: #198754
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754
}

.btn-check:focus+.btn-outline-success,.btn-outline-success:focus {
    box-shadow: 0 0 0 .25em rgba(25,135,84,.5)
}

.btn-check:active+.btn-outline-success,.btn-check:checked+.btn-outline-success,.btn-outline-success.active,.btn-outline-success.dropdown-toggle.show,.btn-outline-success:active {
    color: #fff;
    background-color: #198754;
    border-color: #198754
}

.btn-check:active+.btn-outline-success:focus,.btn-check:checked+.btn-outline-success:focus,.btn-outline-success.active:focus,.btn-outline-success.dropdown-toggle.show:focus,.btn-outline-success:active:focus {
    box-shadow: 0 0 0 .25em rgba(25,135,84,.5)
}

.btn-outline-success.disabled,.btn-outline-success:disabled {
    color: #198754;
    background-color: transparent
}

.btn-outline-info {
    color: #0dcaf0;
    border-color: #0dcaf0
}

.btn-outline-info:hover {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0
}

.btn-check:focus+.btn-outline-info,.btn-outline-info:focus {
    box-shadow: 0 0 0 .25em rgba(13,202,240,.5)
}

.btn-check:active+.btn-outline-info,.btn-check:checked+.btn-outline-info,.btn-outline-info.active,.btn-outline-info.dropdown-toggle.show,.btn-outline-info:active {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0
}

.btn-check:active+.btn-outline-info:focus,.btn-check:checked+.btn-outline-info:focus,.btn-outline-info.active:focus,.btn-outline-info.dropdown-toggle.show:focus,.btn-outline-info:active:focus {
    box-shadow: 0 0 0 .25em rgba(13,202,240,.5)
}

.btn-outline-info.disabled,.btn-outline-info:disabled {
    color: #0dcaf0;
    background-color: transparent
}

.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:hover {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-check:focus+.btn-outline-warning,.btn-outline-warning:focus {
    box-shadow: 0 0 0 .25em rgba(255,193,7,.5)
}

.btn-check:active+.btn-outline-warning,.btn-check:checked+.btn-outline-warning,.btn-outline-warning.active,.btn-outline-warning.dropdown-toggle.show,.btn-outline-warning:active {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-check:active+.btn-outline-warning:focus,.btn-check:checked+.btn-outline-warning:focus,.btn-outline-warning.active:focus,.btn-outline-warning.dropdown-toggle.show:focus,.btn-outline-warning:active:focus {
    box-shadow: 0 0 0 .25em rgba(255,193,7,.5)
}

.btn-outline-warning.disabled,.btn-outline-warning:disabled {
    color: #ffc107;
    background-color: transparent
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-check:focus+.btn-outline-danger,.btn-outline-danger:focus {
    box-shadow: 0 0 0 .25em rgba(220,53,69,.5)
}

.btn-check:active+.btn-outline-danger,.btn-check:checked+.btn-outline-danger,.btn-outline-danger.active,.btn-outline-danger.dropdown-toggle.show,.btn-outline-danger:active {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-check:active+.btn-outline-danger:focus,.btn-check:checked+.btn-outline-danger:focus,.btn-outline-danger.active:focus,.btn-outline-danger.dropdown-toggle.show:focus,.btn-outline-danger:active:focus {
    box-shadow: 0 0 0 .25em rgba(220,53,69,.5)
}

.btn-outline-danger.disabled,.btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:hover {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-check:focus+.btn-outline-light,.btn-outline-light:focus {
    box-shadow: 0 0 0 .25em rgba(248,249,250,.5)
}

.btn-check:active+.btn-outline-light,.btn-check:checked+.btn-outline-light,.btn-outline-light.active,.btn-outline-light.dropdown-toggle.show,.btn-outline-light:active {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-check:active+.btn-outline-light:focus,.btn-check:checked+.btn-outline-light:focus,.btn-outline-light.active:focus,.btn-outline-light.dropdown-toggle.show:focus,.btn-outline-light:active:focus {
    box-shadow: 0 0 0 .25em rgba(248,249,250,.5)
}

.btn-outline-light.disabled,.btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent
}

.btn-outline-dark {
    color: #212529;
    border-color: #212529
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529
}

.btn-check:focus+.btn-outline-dark,.btn-outline-dark:focus {
    box-shadow: 0 0 0 .25em rgba(33,37,41,.5)
}

.btn-check:active+.btn-outline-dark,.btn-check:checked+.btn-outline-dark,.btn-outline-dark.active,.btn-outline-dark.dropdown-toggle.show,.btn-outline-dark:active {
    color: #fff;
    background-color: #212529;
    border-color: #212529
}

.btn-check:active+.btn-outline-dark:focus,.btn-check:checked+.btn-outline-dark:focus,.btn-outline-dark.active:focus,.btn-outline-dark.dropdown-toggle.show:focus,.btn-outline-dark:active:focus {
    box-shadow: 0 0 0 .25em rgba(33,37,41,.5)
}

.btn-outline-dark.disabled,.btn-outline-dark:disabled {
    color: #212529;
    background-color: transparent
}

.btn-link {
    font-weight: 400;
    color: #0d6efd;
    text-decoration: underline
}

.btn-link:hover {
    color: #0a58ca
}

.btn-link.disabled,.btn-link:disabled {
    color: #6c757d
}



/*************************************
	    	 Navbar 
**************************************/
.navbar {
    background: #fff;
    min-height: 80px;
    margin-bottom:0;
}
.top-navbar-button {
    margin-top: 1em;
    margin-left: 1em;
    background: #048aa0;
    color: #fff;
}
/*************************************
	    	 Footer 
**************************************/
.footer {
    background: #029fcc;
    padding-top: 2em;
}

.footer-logo img {
    width: 65%;
}

.addresss-info li {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    list-style:none;
}

.addresss-info i {
    color: #fff;
    padding-right: 5px;
    float: left;
    display: table-cell;
    width: 30px;
    line-height: 23px;
    font-size: 17px;
}

.addresss-info p {
    display: table;
    color: #fff;
    margin-bottom: 0px;
}

.recent-post-image {
    float: left;
    display: table;
}

.recent-post-image img {
    vertical-align: middle;
    width: 70px;
    height: 60px;
}

.recent-post-info {
    display: table-cell;
    padding-left: 15px;
}

.recent-post-info a {
    color: #fff;
    font-size: 14px;
    vertical-align: top;
}

.recent-post-info a:hover {
    color: #00a9da;
}

.recent-post-info span {
    color: #6d6d6d;
    font-size: 12px;
    display: table;
    padding-top: 5px;
}

.recent-post-info i {
    color: #6d6d6d;
    font-size: 14px;
    padding-right: 5px;
}

/*footer-flickr */
.footer-gallery li {
    float: left;
    list-style: outside none none;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 70px;
}

.footer-gallery li img {
    width: 70px;
}

.footer-gallery {
    display: inline-block;
}

ul.footer-instagram-images li {
    display: inline-block;
}

.social-feed li {
    float: left;
    height: 70px;
    list-style: outside none none;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 70px;
}

.social-feed li img {
    width: 70px;
    height: 70px;
}

.social-feed {
    display: inline-block;
}

/*footer-Newsletter*/
.footer-Newsletter {
    display: inline-block;
}

.footer-useful-link.footer-hedding ul {
    margin-top: -6px;
}

.footer-Newsletter .form-control {
    border-left: 0px;
    height: 40px;
    font-size: 13px;
    color: #fff;
}

.footer-Newsletter .form-control:focus {
    border: 1px solid #2f2f2f;
    border-left: 0;
}

.footer-useful-link ul li {
    list-style: none;
}

.footer-useful-link ul li a {
    color: #fff;
    font-size: 14px;
    vertical-align: top;
    display: block;
    line-height: 26px;
}

.footer-useful-link ul li a:hover {
    color: #00a9da;
}

/*footer twitter feed*/
.twitter-feed li {
    display: block;
}

.twitter-feed li i {
    font-size: 15px;
    color: #00a9da;
    float: left;
    margin-right: 15px;
    margin-top: 6px;
}

.twitter-feed li p {
    font-size: 14px;
    display: table;
    vertical-align: top;
}

.twitter-feed li p a {
    display: inline-block;
    color: #00a9da;
}

.twitter-feed.text-white li a {
    color: #363636;
}

.twitter-feed.text-white li a:hover {
    color: #363636;
}

.twitter-feed.text-white li i {
    color: #fff;
}

/*footertag */
.tags.footer-hedding h4 {
    margin-bottom: 20px;
}

.tags ul li {
    display: inline-block;
}

.tags ul li a {
    display: block;
    color: #6f6f6f;
    border: 1px solid #2f2f2f;
    background: transparent;
    border-radius: 3px;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: capitalize;
}

.tags ul li a:hover {
    background: transparent;
    color: #00a9da;
    border-color: #00a9da;
}

/*footer-widget*/
.footer-widget {
    background: #0f0f0f;
    padding: 20px 15px;
}

.footer-widget a {
    color: #00a9da;
}

.footer-widget a:hover {
    color: #0386ac;
}

.footer-widget-social {
    text-align: right;
    margin-top: 5px;
}

.footer-widget-social li {
    display: inline-block;
}

.footer-widget-social a i {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 45px;
    text-align: center;
    line-height: 47px;
    font-size: 25px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.text-white{
    color: #fff;
}
.footer-bottom-text{
    font-size: 1.2em;
    margin-top: 1.5em;
}
/*************************************
	    	 Home Page 
**************************************/
.home-page-jumbotron {
    background: #049fcc5c;
}
/*************************************
	    	 Login
**************************************/

body{
    font-size:16px;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    min-height: 400px;
    margin-top: 1.5em;
}

.panel-login .panel-heading {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.form-horizontal .control-label {
    text-align: left;
}

/* Custom CSS */

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.animate-on-focus {
    transition: all 0.3s ease-in-out;
}

.animate-on-focus:focus {
    transform: scale(1.05);
}

nav.bottom-navbar {
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: #c43751;
    color: #fff;
}
.footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 40px 0;
    margin-top: 30px;
}
.footer h4 {
    color: #3498db;
    margin-bottom: 20px;
    font-weight: bold;
}
.footer-links {
    margin-bottom: 30px;
}
.footer-links li {
    display: inline-block;
    padding: 0 15px;
}
.footer-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
.footer-links a:hover {
    color: #3498db;
}
.footer p {
    margin-bottom: 0;
    font-size: 14px;
}
